<html>
<body>
  <h1>Edit menu item:</h1>
  <form action="{{url_for('editMenuItem', restaurant_id = restaurant_id, menu_id = item.id))}}" method = 'POST'>
    <p>Name:</p>
    <input type='text' size='30' name='name' placeholder = '{{item.name}}'>

    <p>Description:</p>
    <input type='text' size='30' name='description' placeholder = '{{item.description}}'>

    <p>Price:</p>
    <input type='text' size='30' name='price' placeholder = '{{item.price}}'>

    <p>Course:</p>
    {% if item.course == 'Appetizer' %}
        <input type ='radio' name='course' value='Appetizer' checked>Appetizer
    {% else %}
        <input type ='radio' name='course' value='Appetizer'>Appetizer
    {% endif %}

    {% if item.course == 'Entree' %}
        <input type ='radio' name='course' value='Entree' checked>Entree
    {% else %}
        <input type ='radio' name='course' value='Entree'>Entree
    {% endif %}
    
    {% if item.course == 'Dessert' %}
        <input type ='radio' name='course' value='Dessert' checked>Dessert
    {% else %}
        <input type ='radio' name='course' value='Dessert'>Dessert
    {% endif %}

    {% if item.course == 'Beverage' %}
        <input type ='radio' name='course' value='Beverage' checked>Beverage
    {% else %}
        <input type ='radio' name='course' value='Beverage'>Beverage
    {% endif %}

    <br/><br/>
    <input type='Submit' value='Edit'>

    <a href = '{{url_for('showMenu', restaurant_id = restaurant_id)}}'>Cancel</a>
  </form>
</body>
</html>
